    .nav-item .nav-link {
        display: flex;
        gap: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        font: optional;
        color: rgb(60, 58, 58);
        margin-top: auto;
        transform: translateX(-10%);
    }
    
    .logo {
        height: 115px;
        width: 260px;
        margin-top: -19.5%;
        position: absolute;
        left: 300px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-item {
        margin-top: 35px;
        margin-right: 45px;
        font-family: 'Arial', monospace;
        font-style: normal;
        font-weight: 540;
        src: url(https://fonts.gstatic.com/s/play/v20/6ae84K2oVqwItm4TCp4y2knT.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    
    .col-md-6 .p-lg-5 .mx-auto .my-5 {
        margin-top: 40px;
    }